__pycache__
build
dist
*.txt
*.pt
*egg-info*
tmp
output
*.pyc
.idea
*.zip
cache/
temp/
checkpoints/
huggingface/
log/
act_scales/
act_shifts/
pre_quantized_models/
temp.sh

test.ipynb
act_stats/
outlier_stats/
log.csv
scripts/aow*
output/
output_demo/
results/
.vscode